@import '../../../styles/rem-calc.scss';

:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: rem-calc(20) 0;

  .pokemon {
    display: flex;

    position: relative;
    margin-top: rem-calc(10);
    width: calc(49% - 2.5rem);
    height: rem-calc(117);
    padding: rem-calc(20);
    background: var(--white);
    border-radius: rem-calc(10);

    &__status {
      h2 {
        font-size: rem-calc(22);
        font-style: italic;
        font-weight: 700;
        margin-bottom: rem-calc(5);
        text-transform: capitalize;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          width: rem-calc(60);
          font-size: rem-calc(10);
          background: #EFEFEF;
          border-radius: rem-calc(50);
          margin-bottom: rem-calc(7);
        }
      }
    }

    &__image {
      position: absolute;
      right: rem-calc(20);
      bottom: rem-calc(20);

      display: flex;
      justify-content: center;
      align-items: center;

      height: rem-calc(90);
      width: rem-calc(110);
      background: url('../../../assets/images/background-list-pokemons.svg') no-repeat;

      img {
        width: rem-calc(60);
      }
    }
  }
}
