@import '../../../styles/rem-calc.scss';

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: var(--white);
    margin-bottom: rem-calc(10);

    li {
      display: inline;

      button {
        outline: 0;
        border: 0;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;

        &.active {
          background-color: #4CAF50;
          color: white;
        }

        &.blocked {
          cursor: not-allowed;
        }

        &:hover:not(.active) {
          background-color: #ddd;
        }
      }
    }
  }
}
